---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 20;
---

<h1><img class="home-banner" src="banner.webp" alt="Helliara Hyenas"></h1>

<p>🔞 This website is for <b>adults only</b>. It contains written fiction featuring explicit fetish content including <b>vore, murder, non-consent, and glamorized portrayals of abuse</b>. If you wound up here by mistake, <strong>please exit.</strong>
</a>

<p>
🥀 We are <b>HELLIARA the HYENAHOUND</b>. We are an evil leviathan puppeteering the body of an evil transsexual pervert to write evil perverted literature. This blog is currently a dumping ground for writing which would be awkardly long to put into a post on our Bluesky account, <a href="https://bsky.app/profile/hell.hyenas.top">@hell.hyenas.top</a>

	<p>
If we feel the need to publish any Serious Fiction, we will probably post it on AO3.
</p>

	{% set postsCount = collections.posts | length %}
	{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
	<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
	</h2>

	{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
	{% set postslistCounter = postsCount %}
	{% include "postslist.njk" %}

	{% set morePosts = postsCount - numberOfLatestPostsToShow %}
	{% if morePosts > 0 %}
		<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
	{% endif %}

	{# List every content page in the project #}
	{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}